lectures/0-mls.pdf filter=lfs diff=lfs merge=lfs -text
lectures/12-mls.pdf filter=lfs diff=lfs merge=lfs -text
projects/project04-DRL.pdf filter=lfs diff=lfs merge=lfs -text
projects/project01-DNN.pdf filter=lfs diff=lfs merge=lfs -text
projects/project02-DML.pdf filter=lfs diff=lfs merge=lfs -text
lectures/2-mls.pdf filter=lfs diff=lfs merge=lfs -text
lectures/6-DLSys.pdf filter=lfs diff=lfs merge=lfs -text
lectures/7-backprop.pdf filter=lfs diff=lfs merge=lfs -text
lectures/13-mls.pdf filter=lfs diff=lfs merge=lfs -text
lectures/5-cnn.pdf filter=lfs diff=lfs merge=lfs -text
lectures/8-deephardware.pdf filter=lfs diff=lfs merge=lfs -text
lectures/9-mlsysperf.pdf filter=lfs diff=lfs merge=lfs -text
lectures/1-mls.pdf filter=lfs diff=lfs merge=lfs -text
lectures/10-dnncompress.pdf filter=lfs diff=lfs merge=lfs -text
lectures/11-mls.pdf filter=lfs diff=lfs merge=lfs -text
lectures/4-learning_theory.pdf filter=lfs diff=lfs merge=lfs -text
projects/project03-Serving.pdf filter=lfs diff=lfs merge=lfs -text
lectures/14-mls.pdf filter=lfs diff=lfs merge=lfs -text
lectures/15-mls.pdf filter=lfs diff=lfs merge=lfs -text
lectures/3-optimization_dnn.pdf filter=lfs diff=lfs merge=lfs -text
